[submodule "PySDM-examples"]
	path = PySDM-examples
	url = git@github.com:open-atmos/PySDM-examples.git
	shallow = true
[submodule "tests/devops_tests"]
	path = tests/devops_tests
	url = git@github.com:open-atmos/devops_tests.git
	shallow = true
