ThrustRTC==0.3.8
CURandRTC==0.1.6
numba==0.51.2
git+git://github.com/atmos-cloud-sim-uj/PyMPDATA@7b4e024#egg=PyMPDATA

Pint>=0.11
scipy>=1.4.1
mendeleev>=0.6.0
numpy>=1.18.1
matplotlib>=3.2.2
ipywidgets>=7.5.1
