numpy==1.18.1
scipy==1.4.1
mpmath==1.1.0
numba==0.49.0
matplotlib==3.2.1
ThrustRTC==0.3.5
CURandRTC==0.1.2
Pint==0.11
mendeleev==0.6.0
ipywidgets==7.5.1
ipykernel==5.2.1
chempy==0.7.11
pytest
pytest-cov
codecov
nbconvert
jupyter_client
