# test-time requirements
matplotlib>=3.2.2
ghapi
pytest

# note: if cloning both PySDM and PySDM examples, consider "pip install -e"
git+git://github.com/claresinger/PySDM-examples@219cb6a#egg=PySDM-examples
