{% extends "default/index.html.jinja2" %}

{% block title %}PySDM module list{% endblock %}

{% block nav %}
    <h2>Available Modules</h2>
    <ul>
        {% for submodule in all_modules if "." not in submodule %}
            <li><a href="{{ submodule.replace(".","/") }}.html">{{ submodule }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <main class="pdoc">

    {% filter to_html %}
# PySDM documentation home page
    {% endfilter %}

    </main>
    {% include "search.html.jinja2" %}
{% endblock %}
