img {
    max-width: 100%;
}

mark {
    background-color: #859bed;
    color: black;
}

table {
    table-layout: fixed;
}

td, th {
    overflow-wrap: break-word;
}

.pdoc table{
    display: table;
    width: 100%;
}
