name: PySDM-readme.m

defaults:
  run:
    shell: bash

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 13 * * 4'

jobs:
  matlab:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - run: pip install -e .
      - run: pip install pytest-codeblocks pytest
      - run: python -c "import pytest_codeblocks; code=pytest_codeblocks.extract_from_file('README.md'); f=open('readme.m', 'w'); f.writelines(block.code for block in code if block.syntax=='Matlab'); f.close()"
      - run: cat -n readme.m
      - uses: matlab-actions/setup-matlab@v0
        with:
          release: R2021a
      - uses: matlab-actions/run-command@v0
        with:
          command: readme
      - run: sed -i 's/CPU/GPU/g' readme.m
      - uses: matlab-actions/run-command@v0
        with:
          command: readme

      - name: artefacts
        if: github.ref == 'refs/heads/master'
        uses: eine/tip@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            parcel.png

