name: Add new issues and pull requests to project board

on:
  issues:
    types:
      - opened
  pull_request_target:
    types:
      - opened

jobs:
  add-to-project:
    name: Add to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/open-atmos/projects/6
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
