name: Pylint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        python setup.py egg_info
        pip install -r *.egg-info/requires.txt
        pip install -r test-time-requirements.txt
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')
