name: url-check

defaults:
  run:
    shell: bash

on:
  schedule:
    - cron: '0 13 * * 4'

jobs:
  url-check:
    runs-on: ubuntu-24.04
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4.1.6
      - name: URLs-checker
        uses: urlstechie/urlchecker-action@master
        with:
          # A subfolder or path to navigate to in the present or cloned repository
          # subfolder: docs

          # A comma-separated list of file types to cover in the URL checks
          file_types: .md,.py,.json,.ipynb,.yaml,.yml,.jinja2,.toml

          # Choose whether to include file with no URLs in the prints.
          print_all: false

          # Choose whether to print a more verbose end summary with files and broken URLs.
          verbose: true

          # The timeout seconds to provide to requests, defaults to 5 seconds
          timeout: 15

          # How many times to retry a failed request (each is logged, defaults to 1)
          retry_count: 5

          # A comma separated links to exclude during URL checks
          exclude_urls: https://www.gnu.org/licenses/gpl-3.0.html,https://open-atmos.github.io/PySDM/\2/\3.html

          # A comma separated patterns to exclude during URL checks
          exclude_patterns: http://purl.org,http://www.w3.org,https://doi.org/10.1175/

          # A comma separated list of file patterns (direct paths work as well) to exclude
          exclude_files: docs/generate_html.py,.github/workflows/precommit.yml
